Microsoft.Flow/flows/8a9f0bd0-055d-4a27-af21-0c077ec157f8/definition.json
{"name":"e611225c-8c91-4383-8866-ca5275d129f8","id":"/providers/Microsoft.Flow/flows/e611225c-8c91-4383-8866-ca5275d129f8","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ReservaNotificarPais","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3b61ffac-75d8-42de-a097-4bd4d52a0038","type":"User","tenantId":"96306d57-5eb7-4dc4-a5bd-22a0e5cc0aab"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-05-21T16:17:05.3398062Z","connectionKeySavedTimeKey":"2025-05-21T16:17:05.3398062Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"aa0360bf-53cb-4c17-8c93-537e3311e289"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Fech_Entradas":{"type":"any","description":"Entradas","x-ms-powerflows-param-ispartial":false},"Escr_Entradas":{"type":"any","description":"Entradas","x-ms-powerflows-param-ispartial":false},"Corre_Entradas":{"type":"any","description":"Entradas","x-ms-powerflows-param-ispartial":false},"Hor_Entradas":{"type":"any","description":"Entradas","x-ms-powerflows-param-ispartial":false},"sali_Entradas":{"type":"any","description":"Entradas","x-ms-powerflows-param-ispartial":false},"Laptop_Entradas":{"type":"any","description":"Entradas","x-ms-powerflows-param-ispartial":false}},"required":["Fech_Entradas","Escr_Entradas","Corre_Entradas","Hor_Entradas","sali_Entradas","Laptop_Entradas"]}}}},"actions":{"Fecha":{"runAfter":{},"metadata":{"operationMetadataId":"71014d6c-ab60-4ec0-96a0-b4bba5b753ef"},"type":"Compose","inputs":"@triggerBody()['Fech_Entradas']"},"Oficina":{"runAfter":{"Fecha":["Succeeded"]},"metadata":{"operationMetadataId":"4d58d9d0-b90a-46a8-8f3c-deaf5fe0e8ac"},"type":"Compose","inputs":"@triggerBody()['Escr_Entradas']"},"Correo":{"runAfter":{"Oficina":["Succeeded"]},"metadata":{"operationMetadataId":"ceff4da4-b7df-43c1-b682-cbddfe804171"},"type":"Compose","inputs":"@triggerBody()['Corre_Entradas']"},"Estacionamiento":{"runAfter":{"Correo":["Succeeded"]},"metadata":{"operationMetadataId":"95ce689a-5236-420d-a8b7-7b76fa812691"},"type":"Compose","inputs":"@triggerBody()['Hor_Entradas']"},"Pais":{"runAfter":{"Estacionamiento":["Succeeded"]},"metadata":{"operationMetadataId":"7882eb65-48f6-4b68-847f-8dc815d2a4f0"},"type":"Compose","inputs":"@triggerBody()['sali_Entradas']"},"Enviar_correo_electrónico_(V2)":{"runAfter":{"Laptop":["Succeeded"]},"metadata":{"operationMetadataId":"5b0c72d1-c702-4705-927c-47bb6dcf8c55"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Correo')","emailMessage/Subject":"Reserva de estación","emailMessage/Body":"<p><br>\n\n    <p\n        style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n        <span style=\"font-size:15px;line-height:105%;\">&nbsp;<strong>ESTE ES UN RECORDATORIO DE TU REGISTRO PARA ASISTIR A LA\n                OFICINA DE PLAN INTERNATIONAL</strong></p>\n    <br />\n    <table style=\"border: none;border-collapse:collapse;\">\n        <tbody>\n            <tr>\n                <td colspan=\"4\"\n                    style=\"width: 424.2pt;border: 1pt solid rgb(191, 191, 191);background: rgb(120, 0, 206);padding: 0cm 5.4pt;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span style=\"font-size:21px;line-height:105%;font-family:Veneer;color:white;\">DETALLES DEL REGISTRO</span></p>\n                </td>\n            </tr>\n            <tr>\n                <td\n                    style=\"width: 106.05pt;border-right: 1pt solid rgb(191, 191, 191);border-bottom: 1pt solid rgb(191, 191, 191);border-left: 1pt solid rgb(191, 191, 191);border-top: none;background: white;padding: 0cm 5.4pt;border-image: initial;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span\n                            style='font-size:13px;line-height:105%;font-family:\"HelveticaNeueLT Std\",sans-serif;color:#0072CE;'>Fecha\n                            de registro</span></p>\n                </td>\n                <td colspan=\"3\"\n                    style=\"width: 318.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(191, 191, 191);border-right: 1pt solid rgb(191, 191, 191);padding: 0cm 5.4pt;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span id=\"2\">@{outputs('Fecha')}</span></p>\n                </td>\n            </tr>\n            <tr>\n                <td\n                    style=\"width: 106.05pt;border-right: 1pt solid rgb(191, 191, 191);border-bottom: 1pt solid rgb(191, 191, 191);border-left: 1pt solid rgb(191, 191, 191);border-top: none;background: white;padding: 0cm 5.4pt;border-image: initial;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span\n                            style='font-size:13px;line-height:105%;font-family:\"HelveticaNeueLT Std\",sans-serif;color:#0072CE;'>Oficina</span></p>\n                </td>\n                <td colspan=\"3\"\n                    style=\"width: 318.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(191, 191, 191);border-right: 1pt solid rgb(191, 191, 191);padding: 0cm 5.4pt;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span style=\"font-size:15px;line-height:105%;\">@{outputs('Oficina')}</span></p>\n                </td>\n            </tr>\n            <tr>\n                <td\n                    style=\"width: 106.05pt;border-right: 1pt solid rgb(191, 191, 191);border-bottom: 1pt solid rgb(191, 191, 191);border-left: 1pt solid rgb(191, 191, 191);border-top: none;background: white;padding: 0cm 5.4pt;border-image: initial;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span\n                            style='font-size:13px;line-height:105%;font-family:\"HelveticaNeueLT Std\",sans-serif;color:#0072CE;'>Requiere estacionamiento</span></p>\n                </td>\n                <td colspan=\"3\"\n                    style=\"width: 318.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(191, 191, 191);border-right: 1pt solid rgb(191, 191, 191);padding: 0cm 5.4pt;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span id=\"11\">@{outputs('Estacionamiento')}</span></p>\n                </td>\n            </tr>\n     <tr>\n                <td\n                    style=\"width: 106.05pt;border-right: 1pt solid rgb(191, 191, 191);border-bottom: 1pt solid rgb(191, 191, 191);border-left: 1pt solid rgb(191, 191, 191);border-top: none;background: white;padding: 0cm 5.4pt;border-image: initial;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span\n                            style='font-size:13px;line-height:105%;font-family:\"HelveticaNeueLT Std\",sans-serif;color:#0072CE;'>Requiere Laptop</span></p>\n                </td>\n                <td colspan=\"3\"\n                    style=\"width: 318.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(191, 191, 191);border-right: 1pt solid rgb(191, 191, 191);padding: 0cm 5.4pt;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span style=\"font-size:15px;line-height:105%;\"><span id=\"12\">@{outputs('Laptop')}</span></span>\n                    </p>\n                </td>\n            </tr>\n            <tr>\n                <td\n                    style=\"width: 106.05pt;border-right: 1pt solid rgb(191, 191, 191);border-bottom: 1pt solid rgb(191, 191, 191);border-left: 1pt solid rgb(191, 191, 191);border-top: none;background: white;padding: 0cm 5.4pt;border-image: initial;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span\n                            style='font-size:13px;line-height:105%;font-family:\"HelveticaNeueLT Std\",sans-serif;color:#0072CE;'>Pais</span></p>\n                </td>\n                <td colspan=\"3\"\n                    style=\"width: 318.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(191, 191, 191);border-right: 1pt solid rgb(191, 191, 191);padding: 0cm 5.4pt;vertical-align: top;\">\n                    <p\n                        style='margin-right:0cm;margin-left:  0cm;font-size:15px;font-family:\"Calibri\",sans-serif;margin:0cm;margin-bottom:8.0pt;margin-top:0cm;line-height:105%;'>\n                        <span style=\"font-size:15px;line-height:105%;\"><span id=\"12\">@{outputs('Pais')}</span></span>\n                    </p>\n                </td>\n            </tr>\n    \n        </tbody>\n    </table>\n    <br>\n       \n    </p>","emailMessage/Bcc":"Danny.Ramos@plan-international.org"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Laptop":{"runAfter":{"Pais":["Succeeded"]},"metadata":{"operationMetadataId":"d9e047ce-9fb4-480b-b59d-6e7ad31d5243"},"type":"Compose","inputs":"@triggerBody()['Laptop_Entradas']"}},"description":"Flujo para enviar notificaciones cuando reservas estación de trabajo"},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-be025209-d140-4d87-ab65-61d3a2c93f33","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}